ul .item-li{
  list-style-type: none;  
}

.item-ul{
    padding-left: 0px;
    padding: 68px;
    margin: 0px;
    font-size: 13px;
  }

.rightbox{
  display: flex;
  flex-direction: column;
 
 }

 .addcart{
  margin-top: 13px;
}

.grand-total{
  display: flex;
  margin-top: 0px;
  margin-left: 88px;
  height: 10vh;
}
 
.total{
   flex: 1;


}

li{
  list-style-type: none;
}

.head-text-box{

  display: flex;
  justify-content: center;
  border-bottom: 1px solid #5faf4cf0;
  border-bottom-width: 4px;

}
.main-box-item{
  display: flex;
  flex-direction: column;
  padding: 25px;
}