.cartpage{
   padding-top: 68px;
}

.cart-ul{
   padding-left: 0px;
   padding: 68px;
   margin: 0px;
   font-size: 13px;
 }
 
 .main-cart-box{
     display: flex;
     flex-direction: column;
     padding: 25px;

 }

 .head-text{
    font-size: 1.5rem;
    margin-top: 12px;
 }
 .empty-cart{
     margin-top: 12rem;
     margin-left: 4rem;

 }