 /* Defines component width */
 ps-contact-form .container {
	width: 300px;
  }

  /* Input styles */
  ps-contact-form input {
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.1);
	padding: 1em;
	font-size: 1em;
	width: 70%;
	outline: none;
	width: 100%;
	margin-bottom: 1em;
	border-radius: 0.25em;
  }

  /* Textarea styles */
  ps-contact-form textarea {
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.1);
	padding: 1em;
	font-size: 1em;
	width: 70%;
	outline: none;
	width: 100%;
	font-family: sans-serif;
	height: 150px;
	border-radius: 0.25em;
  }

  /* Submit button styles */
  ps-contact-form button {
	font-size: 1em;
	padding: 1em;
	border: 1px solid rgba(0, 0, 0, 0.3);
	width: 100%;
	border-radius: 0.25em;
	margin-top: 0.75em;
	background: rgba(0, 0, 0, 0.6);
	color: white;
  }
  ps-contact-form button:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.7);
  }

  /* Error message styles */
  ps-contact-form .error-message {
	background: #fadbd8;
	color: #a2352a;
	padding: 1em;
	border-radius: 0.25em;
  }

  /* Success message styles */
  ps-contact-form .success-message {
	background: #d4efdf;
	color: #1b7a43;
	padding: 1em;
	border-radius: 0.25em;
  }

  /* CSS spinner that appears inside the button during data submission */
  ps-contact-form .spinner {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	border-top-color: #fff;
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
  }

  @keyframes spin {
	to {
	  -webkit-transform: rotate(360deg);
	}
  }

  @-webkit-keyframes spin {
	to {
	  -webkit-transform: rotate(360deg);
	}
  }