.contact-info p{
    color: black;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
}

.contact-info form{
    padding: 1rem;
    margin-left: -17px;
    background-color: #3c2c2c61;
    margin-bottom: 4rem;
}

form button {
    margin-top: 12px;
    margin-bottom: 4rem;
}

.contact-info h1{
    font-size: 1.8rem;
    margin-top: 24px;
    font-family: 'Damion', cursive;
}

.m-t-0{
    margin-bottom: 21px;
}

.fancy a{
    text-decoration: none;
    color: brown;
    font-family: fantasy;
}