

.title {
    color: #fff;
    z-index: 200;
    margin-left: 2%;
    padding: 48px;
 }

 .title .title-text{
    font-size: 4rem;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 1.6rem;
    text-transform:uppercase;
    font-family: 'Vidaloka', serif;
    font-weight: normal;
    text-shadow: 0 10px 30px rgb(22 8 2);;
}

 .title .title-lead{
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.4;
    letter-spacing: 0.1em;
}
.title-border{
display: inline-block;
}
.title .title-border span{
display: block;
width: 88px;
height: 4px;
border-radius: 5px;
background: #b81919;
}
.title .title-border span:first-child{
margin-bottom: 1.4rem;
}
.title .title-border span:last-child{
 margin-left: 47px;
}
.animate-title .home-image{
   padding: 58px;
}
.home-image img{
   width: 100%;
}
#masthead{
   background-color:#18191a;
   height: 529px;
}
@media  (min-device-width : 376px) and (max-device-width : 767px){
   #masthead{
      height: 885px;
   }
}

@media (max-width:375px){
   #masthead{
      height: 665px;
   }
}


