

 .wrapper{
   position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    background-color:#18191a;
}

/* .wrapper::after {
   content: ""; 
   position: absolute;
   top: 0;
   left: 50%;

   transform: skew(15deg)
              translateX(-50%);
   width: 75%;
   height: 100%;
   background-image:linear-gradient( 
      120deg
       ,#001e2a,#9e9e9e);
   background-color: #333;
   opacity: .7;
} */


.title {
    color: #fff;
  /*  position: absolute; */
   /* overflow: hidden; */
   /* top: 41%; */
   /* transform: translate3d(0, -50%, 0); */
    z-index: 200;
    margin-left: 2%;
    padding: 48px;
 }

 .title .title-text{
    font-size: 4rem;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 1.6rem;
    text-transform:uppercase;
    font-family: 'Vidaloka', serif;
    font-weight: normal;
    text-shadow: 0 10px 30px rgb(22 8 2);;


 }

 .title .title-lead{
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.4;
    letter-spacing: 0.1em;
}


.title-border{
display: inline-block;

}

.title .title-border span{

display: block;
width: 88px;
height: 4px;
border-radius: 5px;
background: #b81919;
}



.title .title-border span:first-child{
margin-bottom: 1.4rem;
}


.title .title-border span:last-child{
 margin-left: 47px;
}

 .wrapper{
  position: relative;
}

.animate-title .home-image{
   padding: 58px;
}

.home-image img{
   width: 100%;
}