@media (min-width: 992px) {
  #mainnav {
       padding-top: 1.5rem;
       padding-bottom: 1.5rem;
       border: none;
       background-color: transparent;
       transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  

  } 
}

@media (max-width: 800px) {
  .contentskill_set   .skill-list{
           width:100% !important ;
           list-style-type: circle;
        }             
} 



@media (min-width: 1140px){
 .site-content h2 {
    font-size: 3.5rem;

}
}   

@media (max-width: 1240px){
  .site-content h2 {
     font-size: 2.5rem;
 
 }
 }   

 
 @media (max-width: 767px){
  .site-content h2 {
     font-size: 2.2rem;
 }
}

@media (max-width: 400px){
h2 {
    font-size: 2em;
}
}
@media (max-width: 767px){
   p.lead {
      font-size: 1.1em;
  }
  }
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*@media (min-width: 768px) {
  .nav-bar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
  }
  .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
     
  }
  .main-nav li {
      margin: 0;
  }
  .nav-links {
      margin-left: 40px;
  }
  .logo {
      margin-top: 0;
  }
 .navbar-toggle {
     display: none;
  }
  .logo:hover,
  .nav-links:hover {
      color: rgba(255, 255, 255, 1);
  }
} */